.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  padding-right: 20px;
  height: 100%;
}

.userInfo .userName {
  font-size: 1.25em;
  font-weight: bold;
}
