.mainPanel {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.mainPanel > .fallback {
  background-color: var(--dark-active);
  font-size: 1.5rem;
}

.mainPanel > .header {
  height: 60px;

  & .activeName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

    flex-grow: 1;

    padding-right: 20px;

    font-size: 1.25rem;
    font-weight: bold;

    overflow: hidden;
    white-space: pre-wrap;
  }
}

.mainPanel .chatArea {
  flex-grow: 1;
}

.mainPanel .textComposer {
  height: 64px;
}
