.mainPanel {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 70%;
  min-width: 640px;
}

.mainPanel .fallback {
  border-left: 1px solid rgba(134, 150, 160, 0.15);
  background-color: #222e35;
  font-size: 1.5em;
  font-weight: bold;
}
