.previewCard {
  display: flex;
  align-items: center;

  width: 100%;
  height: fit-content;

  cursor: pointer;
}

.previewCard > .previewContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5px;

  flex-grow: 1;
  height: 100%;

  padding: 12px 20px 12px 0;
}

.previewCard > .avatar {
  height: 100px;
}

.previewCard > .previewContent > .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .bannerName {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;

    padding-right: 20px;

    font-size: 1rem;
    font-weight: bold;
  }

  & > .bannerTime {
    font-size: 0.75rem;
    color: var(--white-secondary);
  }
}

.previewCard > .previewContent > .message {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;

  font-size: 0.875rem;

  overflow: hidden;
  white-space: pre-wrap;

  &.none {
    color: var(--white-secondary);
  }
}

.previewCard {
  & > .previewContent {
    border-top: 1px solid var(--faded);
  }

  &:last-of-type > .previewContent {
    border-bottom: 1px solid var(--faded);
  }
}

.previewCard:hover {
  background-color: var(--dark-secondary);

  & > .previewContent {
    border-top: 1px solid var(--dark-secondary);
  }

  &:last-of-type > .previewContent {
    border-bottom: 1px solid var(--dark-secondary);
  }
}

.previewCard.active {
  background-color: var(--dark-active);

  & > .previewContent {
    border-top: 1px solid var(--dark-active);
  }

  &:last-of-type > .previewContent {
    border-bottom: 1px solid var(--dark-active);
  }
}
