.previewTooltip {
  display: flex;
  align-items: center;

  position: absolute;

  font-size: 0.875rem;
  max-width: 30rem;

  border: 1px solid var(--green-hover);
  border-radius: 4px;
  padding: 8px;

  background-color: var(--dark-primary);

  z-index: 5;
}
