.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5px;

  flex-grow: 1;
  height: 100%;

  padding: 12px 20px 12px 0;
}

.preview > .previewBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .previewBannerName {
    --font-factor: 1;

    max-height: calc(
      (var(--font-factor) * 1rem) * (1 * var(--default-line-height))
    );

    padding-right: 20px;

    font-size: calc(var(--font-factor) * 1rem);
    font-weight: bold;
    overflow: hidden;
  }

  & > .previewBannerTime {
    font-size: 0.75em;
    color: #8696a0;
  }
}

.preview > .previewMessage {
  --font-factor: 0.875;

  display: flex;
  align-items: flex-start;

  max-height: calc(
    (var(--font-factor) * 1rem) * (3 * var(--default-line-height))
  );

  font-size: calc(var(--font-factor) * 1rem);

  overflow: hidden;
  overflow-wrap: anywhere;
  white-space: pre-wrap;

  &.none {
    color: #8696a0;
  }
}
