.messageRow {
  display: flex;
  align-items: center;

  position: relative;
  width: 100%;

  margin-bottom: 12px;
  padding: 0 40px;
}

.messageRow:last-child {
  margin-bottom: 16px;
}

.messageRow.outgoing {
  justify-content: flex-end;
}

.messageRow.incoming {
  justify-content: flex-start;
}
