.messageRow {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 0 40px;
}

.messageRow > .messageBox.incoming {
  margin-right: auto;
}

.messageRow > .messageBox.outgoing {
  margin-left: auto;
}
