.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(11, 20, 26, 0.85);
}

.modal .modalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  padding: 24px;
  border-radius: 8px;

  background-color: #212c33;
}

.modal .modalContent .actionButton {
  align-self: flex-end;

  width: fit-content;

  border: 1px solid rgba(134, 150, 160, 0.15);
  border-radius: 24px;
  padding: 8px 16px;

  color: rgb(0, 168, 132);
}

.modal .modalContent .actionButton:hover {
  color: rgb(6, 207, 156);
  box-shadow: rgba(11, 20, 26, 0.5) 0px 0px 8px 2px;
}
