.messageBox {
  display: flex;
  align-items: center;

  position: relative;

  max-width: 66%;
}

.messageBox.outgoing > .messageContent {
  background-color: #035c4c;

  & > .time {
    color: #99beb7;
  }
}

.messageBox.outgoing {
  & > .hoverTooltip {
    display: none;
  }

  &:hover > .hoverTooltip {
    display: flex;
    position: absolute;
    top: -1em;
    right: 0.25em;
    gap: 0.25em;
  }
}

.messageBox.outgoing > .hoverTooltip > .actionButton {
  --foreground-color: #06cf9c;
  --background-color: #212c33;

  font-size: 0.75em;
  font-weight: bold;

  border: 1px solid var(--foreground-color);
  border-radius: 4px;
  padding: 4px;

  background-color: var(--background-color);
  color: var(--foreground-color);

  z-index: 3;

  &:hover {
    box-shadow: rgba(11, 20, 26, 0.5) 0px 0px 8px 4px;
  }
}

.messageBox.incoming .messageContent {
  background-color: #212c33;

  & .time {
    color: #7d868a;
  }
}
