.messageBox {
  display: flex;
  align-items: center;

  position: relative;
}

.messageBox.outgoing .messageContent {
  background-color: #035c4c;
}

.messageBox.outgoing .messageContent .time {
  color: #99beb7;
}

.messageBox.incoming .messageContent {
  background-color: #212c33;
}

.messageBox.incoming .messageContent .time {
  color: #7d868a;
}

.messageBox.outgoing .hoverButtons {
  display: none;
}

.messageBox.outgoing:hover .hoverButtons {
  display: flex;
  position: absolute;
  top: -1em;
  right: 0.25em;
  gap: 0.25em;
}
