.messageBox {
  display: flex;
  align-items: center;

  border-radius: 8px;
  padding: 8px 12px 4px 12px;

  background-color: #212c33;
}

.messageBox .messageBoxContent {
  display: flex;
  align-items: center;
  align-self: flex-start;

  padding-bottom: 8px;
  padding-right: 8px;

  min-width: 64px;
  max-width: 320px;
  width: fit-content;

  overflow-wrap: anywhere;
}

.messageBox .messageBoxTime {
  display: flex;
  align-items: center;
  align-self: flex-end;

  font-size: 0.75em;
  color: #7d868a;
}

.messageBox.client {
  background-color: #035c4c;
}

.messageBox.client .messageBoxTime {
  color: #99beb7;
}
