.textComposer {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 12px 20px;

  background-color: #212c33;
}

.textComposer .messageForm {
  display: flex;
  align-items: center;

  height: 40px;
  width: 100%;
}

.textComposer .messageForm .content {
  display: flex;
  align-items: center;
  flex-grow: 1;

  height: 100%;

  margin: 0 12px;
  border-radius: 8px;
  padding: 0 12px;

  background-color: #293941;
}

.textComposer .messageForm .content::placeholder {
  color: #87979f;
}

.textComposer .messageForm .actionButton.send {
  height: 100%;
  margin: 0 10px;
}
