.textComposer {
  display: flex;
  align-items: center;

  width: 100%;
  height: 64px;

  padding: 12px 20px;

  background-color: var(--dark-secondary);
}

.textComposer > .messageForm {
  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;

  & .content {
    display: flex;
    align-items: center;
    flex-grow: 1;

    height: 100%;

    border-radius: 8px;
    padding: 0 12px;

    background-color: var(--dark-active);

    &::placeholder {
      color: var(--white-secondary);
    }
  }

  & .actionButton {
    height: 100%;
    padding: 0 20px;
  }
}
