.searchBar {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 8px 20px;
}

.searchBar > .searchWrapper {
  display: flex;
  align-items: center;

  width: 100%;
  max-height: 40px;

  border-radius: 8px;
  padding: 8px 0;

  background-color: #212c33;

  & > .actionButton {
    height: 100%;

    padding: 0 12px;

    color: #87979f;
  }

  & > .searchInput {
    display: flex;
    align-items: center;
    flex-grow: 1;

    height: 100%;

    padding-right: 12px;

    &::placeholder {
      color: #87979f;
    }
  }
}
