.messageTooltip {
  display: flex;
  align-items: center;

  position: fixed;

  font-size: 0.875rem;
  max-width: 30rem;

  border: 2px solid var(--green-secondary);
  border-radius: 4px;
  padding: 8px;

  background-color: var(--dark-secondary);

  z-index: 5;
}
