.messageContent {
  display: flex;
  align-items: center;

  border-radius: 8px;
  padding: 8px 8px 4px 12px;

  max-width: 40em;
}

.messageContent > .text {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-grow: 1;

  padding-bottom: 8px;
  padding-right: 8px;

  width: fit-content;

  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.messageContent > .time {
  display: flex;
  align-items: center;
  align-self: flex-end;

  width: fit-content;

  font-size: 0.75em;
}
