.chatArea {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  flex-grow: 1;
  width: 100%;

  background: url(../../assets/bg-chat-room.png) rgba(15, 24, 30, 0.5);

  overflow-y: auto;

  scrollbar-color: rgba(255, 255, 255, 0.16) transparent;
}

.chatArea > .fallback {
  font-size: 1.5em;
}
