.chatArea {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 12px;

  height: auto;
  width: 100%;

  background: url(../../assets/bg-chat-room.png) rgba(15, 24, 30, 0.5);

  overflow-y: scroll;

  scrollbar-color: rgba(255, 255, 255, 0.16) transparent;
}

.chatArea > .fallback {
  font-size: 1.5em;
}

.chatArea > .messageRow {
  &:first-child {
    margin-bottom: 16px;
  }

  &:last-child {
    margin-top: 16px;
  }
}
