.chatArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;

  width: 100%;

  background: url(../../assets/bg-chat-room.png) rgba(15, 24, 30, 0.5);
  overflow-y: scroll;

  scrollbar-width: 6px;
  scrollbar-color: rgba(255, 255, 255, 0.16) transparent;
}

.chatArea > .fallback {
  font-size: 1.5em;
}
