.connectionCard {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;

  cursor: pointer;
}

.connectionCard .avatar {
  padding: 0 20px;
  height: 100%;
}

.connectionCard.active {
  background-color: #2a3942;
}
