#app {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: auto;
  height: auto;

  margin: 20px;

  overflow: hidden;
}

#app > .sidePanel {
  width: 33%;
  min-width: 360px;
  max-width: 640px;
}

#app > .mainPanel {
  width: 67%;
  min-width: 360px;
}

@media (max-width: calc(20px + 2 * 320px + 20px)) {
  #app {
    overflow-x: scroll;
  }
}
