:root {
  --default-line-height: 1.25;
  --default-font-size: 16px;

  color: #e9edef;
  background-color: #0d1318;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.16) transparent;

  font-family: system-ui, sans-serif;
  font-size: var(--default-font-size);
  font-style: normal;
  font-weight: normal;
  line-height: var(--default-line-height);
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button,
input {
  all: unset;
}
