:root {
  color: #e9edef;
  background-color: #0d1318;

  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;

  line-height: 1.25;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#mount {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;

  overflow: hidden;
}

input,
button {
  all: unset;
}
