.messageEditor {
  display: flex;
  align-items: center;
  flex-grow: 1;

  width: 24rem;
  height: 12rem;

  border-radius: 8px;
  padding: 12px 12px;

  background-color: var(--dark-active);

  &::placeholder {
    color: var(--white-secondary);
  }
}

textarea {
  outline: none;
  border: none;
  resize: none;

  font: inherit;
  color: inherit;
}
