.messageEditor {
  display: flex;
  align-items: center;
  flex-grow: 1;

  width: 24em;
  height: 12em;

  border-radius: 8px;
  padding: 12px 12px;

  background-color: #293941;

  &::placeholder {
    color: #87979f;
  }
}

textarea {
  outline: none;
  border: none;
  resize: none;

  font: inherit;
  color: inherit;
}
